circle {
    fill-opacity: 1;
    fill: red;
}
line, path {
    stroke: #ccc;
}
svg {border: solid 1px lightgray}
form {
    font-family: sans-serif;
    font-size: 80%;
}
select, input {
    font-family: sans-serif;
    font-size: 90%;
}
input {
    border: 0px;
}
input:hover {
    background: #eeeeee;
}