@import url('tooltips.css');



/* Chart styles */
text {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 7pt;
}
.cartesian .label{
    font-size: 8pt;
    text-anchor: middle;
}

/* Axis styles */
.domain {
    opacity: 0;
}

.y-axis line, .x-axis line {
    stroke-width: .25;
    stroke: rgba(114, 138, 74, 0.5);
}

.cartesian .tick line {
    stroke: lightgray;
    stroke-dasharray: none;
}

/* Legend styles */
.legend text {
    alignment-baseline: middle;
}

.dot, .legend path {
    stroke: black;
    stroke-width: 1;
    fill: transparent;
}

/* Legend events */
.item, .dot {
    transition: all 250ms;
}

.show {
    stroke: black;
    stroke-width: 1;
}
.fade {
    opacity: .2;
}