table,td {
    border: solid 1px lightgray;
    vertical-align: top;
}
table {
    width: 100%;
}
.bold {
    font-weight: bold;
}

table table .bold {
    color: blue;
}
table table table .bold {
    color: green;
}
table table table table .bold {
    color: red;
}
table table table table table .bold {
    color: orange;
}

table table {
    border-color: blue;
}
table table table {
    border-color: green;
}
table table table table {
    border-color: red;
}
table table table table table {
    border-color: orange;
}

table table table {
    margin-left: 10px;
}