<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 18.2: a simple force-directed graph using data from a CSV file - static version</title>
    <style>
        text {
            font-family: 'Arial Narrow', sans-serif;
            font-size: 10px;
            alignment-baseline: central;
            text-anchor: middle;
        }

        line {
            fill: none;
            stroke: black;
        }
    </style>
</head>
<body>
<h1>Sample static diagram created using the force algorithm</h1>
<p>Each circle represents a city with more than 4 million inhabitants from the <code>cities15000.csv</code> file.
The algorithm runs for 50 iterations and the last positions are used to place the circles.</p>
<script type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

    // EXERCISE 18.2: Create a static version of the chart from Exercise 18.1, stopping after 50 iterations.

    const dataFile = "../../data/cities15000.csv";

    const dim = { width: 1000, height: 800, margin: 40 };
    const offsetX = dim.margin / 2 + dim.width / 2;
    const offsetY = dim.margin / 2 + dim.height / 2;
    const svg = d3.select("body").append("svg")
                    .attr("width", dim.width + dim.margin)
                    .attr("height", dim.height + dim.margin);
    const chart = svg.append("g")
                     .attr("transform", `translate(${[offsetX, offsetY]})`);

    // Get the data
    const data = await d3.dsv(";", dataFile);

    // Prepare the nodes array
    const nodes = [];

    // A color scale
    const color = d3.scaleOrdinal(d3.schemeCategory10);

    // Populate the nodes array with cities with at least 4 million inhabitants
    data.forEach(city => {
        if(city.population >= 4000000) {
            nodes.push({
                name: city.asciiname,
                population: +city.population
            });
        }
    });

    nodes.sort((a, b) => d3.descending(a.population, b.population));

    // A scale for populations
    const popScale = d3.scaleSqrt()
                        .range([0, 30])
                        .domain([0, d3.max(nodes, d => d.population)]);

    // Set up the simulation - use the manybody force with a strength of -13, and run the simulation for 50 iterations before stopping it.
    const sim = d3.forceSimulation(nodes);
    sim.force("manybody", d3.forceManyBody().strength(-13));

    // EXERCISE: Run the simulation for 50 iterations before stopping it.
    // ADD CODE HERE

    // Draw the nodes in their starting position.
    draw();

    // EXERCISE: Move the nodes to their final position after the simulation has stopped.
    // ADD CODE HERE

    function draw() {
        chart.selectAll("g.node")
             .data(nodes, d => d.id)
             .join(
                enter => {
                    const nodeEnter = enter.append("g")
                        .attr("class", "node");
                    nodeEnter.append("circle")
                        .attr("r", d => popScale(d.population))
                        .attr("fill", color)
                        .attr("stroke", "black");
                    nodeEnter.append("text")
                        .text(d => d.name);
                },
                update => update,
                exit => exit.remove()
             );
    }

    function redraw() {
        chart.selectAll("g.node")
             .attr("transform", d => `translate(${[d.x, d.y]})`);
    }
</script>

</body>
</html>