* {
    font-family: "Arial Narrow", sans-serif;
    font-size: 10pt;
}
h1 {
    font-size: 16pt;
}
p {
    text-align: right;
}
table {
    border-collapse: collapse;
}
td, th {
    border: solid 1px darkslategray;
    text-align: center;
    padding: 5px;
}