<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3-array examples</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Using free Yanone Kaffeesatz fonts: https://www.yanone.de/fonts/kaffeesatz/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
    <style>
        svg, canvas { border: solid 1px gray; }
        * {
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
    </style>
</head>
<body>
<script>

    const data = {}; // to store values and bins
    const file = "../data/sol_2019.json";
    const source = "asteroids";
    const property = "diameterKm";

    d3.json(file)
        .then(json => {
            data.values = json[source].map(d => ({
                name: d.name,
                diameter: +d.diameterKm
            }));
            console.log("values", data.values);

            makebins(50);
            plot();
        })
        .catch(e => {
            const message = `Error loading data file ${file}. Check if relative URL is correct.`;
            console.log(e, message);
            alert(message);
        });

    // Create the bins
    function makebins(numbins) {

    }

    // Plot the histogram
    function plot() {

    }

</script>

</body>
</html>