.tooltip {
    opacity: 0;
}
.tooltip rect {
    fill: rgba(80,80,80,.8);
    stroke: darkslategrey;
    stroke-width: 2px;
    height: 30px;
    width: 100px;
    rx: 5px;
    ry: 5px;
    pointer-events: none;
}
.tooltip text {
    transform: translate(50px,15px);
    font-size: 9px;
    text-anchor: middle;
    alignment-baseline: middle;
}