<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cartesian axes template, version 3.0 (using ESM)</title>
    <link rel="stylesheet" href="../css/chart-utils.css">
    <style>
        path.line {
            stroke: red;
            fill: none;
        }
    </style>
</head>
<body>
<h1>This file is an example using chart-utils.js</h1>
<script type="module">

    import * as d3 from "https://cdn.skypack.dev/d3@7";
    import * as utils from '../js/chart-utils.js';

    const height  = 500, width   = 800;
    const marginX = 50, marginY = 50;

    const scaleX = d3.scaleLinear()
                     .range([marginX, width - marginX]);

    const scaleY = d3.scaleLinear()
                     .range([height - marginY, marginY]);

    const svg = d3.select("body")
                  .append("svg")
                    .attr("width", width)
                    .attr("height",height);

    // Sample data
    const yValues = d3.range(0, 12).map(() => Math.floor(Math.random() * 80) + 20);
    const xValues = d3.range(0, yValues.length, 1);
    const data = xValues.map((d,i) => [d, yValues[i]]);

    scaleX.domain([0, d3.max(xValues)]);
    scaleY.domain([0, d3.max(yValues)]);


    // Render Cartesian axes with all options using a custom function from chart-utils.js
    const axes = utils.cartesianAxes().container(svg)
                                      .xScale(scaleX).yScale(scaleY)
                                      .xLabel('X values').yLabel('Y values')
                                      .showHorizontalGrid(true)
                                      .showVerticalGrid(true)
                                      .arrowheads("end");

    // To render the axes, you must call the function that is returned.
    const [xAxis, yAxis] = axes();  // (if you need to customize the axes, use the returned array)

    // Changing the configuration for the y-axis
    xAxis.tickFormat(d3.format(".1f"));

    // Then you need to call the axis to apply any changes.
    // Use the .x-axis or .y-axis classes:
    d3.select(".x-axis").call(xAxis);


    // Line function
    const line = d3.line()
                   .x(d => scaleX(d[0]))
                   .y(d => scaleY(d[1]));

    // Render the line
    svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);

</script>

</body>
</html>