<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radial axes template, version 2.1</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="../js/radial-axes-2.1.0.js"></script>
    <link rel="stylesheet" href="../css/radial-axes-2.1.0.css">
    <style>
        path.line {
            stroke: red;
            fill: none;
        }
    </style>
</head>
<body>
<h1>This file is an example using chart-utils.js</h1>
<script>
    const width  = 500, height = 400, margin = 100;

    // Sample data
    const samples = d3.range(0, 12).map(d => Math.floor(Math.random() * 80) + 20);
    const angles  = d3.range(0, samples.length, 1);
    const data = angles.map((d,i) => [d, samples[i]]);

    // SVG view port
    const svg = d3.select("body")
                  .append("svg")
                    .attr("height", height)
                    .attr("width", width)
                    .attr("viewBox", `${-width/2} ${-height/2} ${width} ${height}`);

    // Scales
    const scaleAngle = d3.scaleLinear()
                         .domain([0, angles.length])
                         .range([0, 2*Math.PI]);
    const scaleRadius = d3.scaleLinear()
                          .domain([0, d3.max(samples)])
                          .range([0, width/2 - margin]);


    // Creates a radial axis system generator - see radial-axes-2.1.0.js
    const axes = dvj.radialAxes().container(svg).aScale(scaleAngle).rScale(scaleRadius) // mandatory
                                 .angularData(angles) // optional - default is [0,1,2,...,11]
                                 .numTicks(6)         // optional - default is 6
                                 .useGrid(true)       // optional - default is false
                                 .backdropOpacity()   // optional - default is 1
    // Render the axes
    axes();


    // Radial line function
    const line = d3.lineRadial()
                   .angle(d => scaleAngle(d[0]))
                   .radius(d => scaleRadius(d[1]));

    // Render the line
    svg.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);

    // Draw dots at each point - see polarToCartesian in radial-axes-2.1.0.js
    svg.selectAll("circle.point")
        .data(data)
        .join("circle")
          .attr("class", "point")
          .attr("cx", d => dvj.p2c(scaleAngle(d[0]), scaleRadius(d[1]))[0])
          .attr("cy", d => dvj.p2c(scaleAngle(d[0]), scaleRadius(d[1]))[1])
          .attr("r", 2)
          .attr("fill", "red");

</script>
</body>
</html>