<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 3: An area chart displaying max and min values for each point</title>
    <style>
        path.line {fill: none; stroke-width: 2px}
        path.area { fill: rgba(100%,90%,70%) }
        path.topline  { stroke: blue }
        path.baseline { stroke: red }
        h1, p, text {
            font-family: sans-serif;
        }
        p {font-size: 10pt}
        h1 {font-size: 16pt}
    </style>
</head>
<body>
<h1>Monthly temperatures in Greenland</h1>
<p>Source: Wikipedia</p>
<script type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
    import * as utils from "../../js/chart-utils.js";

    // Exercise 11.3: The data/temperatures-greenland.csv data file is a CSV containing measured record
    // high and low temperatures. Load it, parse the CSV, prepare the data in a suitable format, and
    // plot an area chart to display the temperature difference for each month.
    // Use a point scale for the months.
    // If you don't want to start from scratch, use this template file, which already parses and prepares the data.
    // You just need to set up the area function and render the chart.

    // Constants
    const app = {},
          data = {};
    const dim = {
        width: 800, height: 500, margin: 50
    };
    const scale = {
        x: d3.scalePoint().range([dim.margin, dim.width - dim.margin]),
        y: d3.scaleLinear().range([dim.height - dim.margin, dim.margin])
    }
    const svg = d3.select("body").append("svg").attr("height", dim.height).attr("width", dim.width);

    const file = "../../data/temperatures-greenland.csv";

    // Run the app
    load(file).then(draw);

    // Functions
    async function load(file) {
        // There are many ways to load, parse and prepare the data. Always prefer the simplest.
        // Here we use d3.text to load the file and d3.csvParseRows to parse it.
        // d3.csvParseRows returns an array of arrays, where each array is a row of the CSV file.
        // This is simpler than using d3.csv and d3.rollup, which would require more complex programming.
        const text = await d3.text(file);
        const csv = d3.csvParseRows(text, d3.autoType);
        console.log('csv', csv);    // inspect the data

        const months = csv[0].slice(1);  // remove the first element (the header)
        const high = csv[1].slice(1);
        const low = csv[2].slice(1);

        // Now convert the data to a standard format you can use to plot the chart
        data.temperatures = months.map((d, i) => [d, high[i], low[i]]);
        console.log('data', data.temperatures);  // inspect the data

        config();
    }

    function config() {
        scale.x.domain(data.temperatures.map(d => d[0]));
        scale.y.domain([d3.min(data.temperatures, d => d[2]) - 10,
                        d3.max(data.temperatures, d => d[1]) + 10]);

        // EXERCISE - create an area function and assign it to app.area
        // ADD YOUR CODE HERE

        // EXERCISE - get the line functions for top and base lines and assign them to app.topline and app.baseline
        // ADD YOUR CODE HERE
    }

    function draw() {
        // EXERCISE - render the area, the topline and the baseline (append three paths)
        // ADD YOUR CODE HERE

        utils.cartesianAxes()
            .container(svg)
            .xScale(scale.x)
            .yScale(scale.y)
            .xLabel("Month")
            .yLabel("Temperature (°C)")
            .showHorizontalGrid(true)();
    }

</script>
</body>
</html>