#tooltip {
    pointer-events: none;
}
#tooltip rect {
    fill: white;
    fill-opacity: .7;
    stroke: black;
    stroke-width: .5;
}
#tooltip text {
    font-family: "Arial Narrow", sans-serif;
    font-size: 12px;
    text-anchor: middle;
}
#tooltip text.title {
    font-weight: bold;
}
