<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 6.1 - DSV fetching and parsing</title>
</head>
<body>

<h1>Open JavaScript console to see more results</h1>
<script type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

    const dataFile = "../../data/cities15000.csv"; // from geonames.org

    // EXERCISE 6.1 - Create an ordered list in HTML with the names and population of the cities
    // 1) Load the data/cities15000.csv file (it is a semicolon-separated DSV) - print to the console to inspect it
    // 2) Filter the data to get only the cities with a population larger than 5 million
    // 3) Sort the data by population in descending order
    // 4) Create an ordered list in HTML with the names and population of the cities

</script>
</body>
</html>