<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise: A multi-theme choropleth - GDP</title>
    <style>
         div, h3 { text-align: center; font-family: sans-serif}
         body {
             width: 960px;
             margin: auto;
         }

        h1, h2 {
            font-family: Arial, sans-serif;
            text-align: center;
            color: #333;
        }

        p, div, li {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #333;
        }
    </style>
</head>
<body>
<h1>Exercise: A multi-theme choropleth - GDP</h1>
<p>This choropleth displays 2 themes: GDP and GDP per capita (calculated from the country's population).
    You can choose the current theme clicking on th buttons below the map. Green is high and red is low.
</p>
<script type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
    import * as topojson from "https://cdn.skypack.dev/topojson-client@3";

    // EXERCISE 5: Create a thematic map of the world comparing GDPs and GDPs per capita.
    // This is based on Thematic/2-multi-theme.html, using GDP data instead of HDI.
    // The solution uses the file data/world/un_regions_gdp.csv and the column GDP_2017 which
    // contains the GDP per capita in USD. The population is in column Pop_2016.
    // Multiply the GDP per capita by the population to get the absolute GDP in USD.

    const topojsonFile = "../../data/world/world-lowres.topojson";
    const themesFile = "../../data/world/un_regions_gdp.csv";   // using this file for the themes
    const key = "world";

    // Load the data
    const [tjdata, themes] = await Promise.all([
        d3.json(topojsonFile),                      // load the TopoJSON file instead of GeoJSON
        d3.csv(themesFile, function(row) {
            // EXERCISE: Inspect the data file, select the desired columns and return an object
            // with the following properties: pop, gdp, gdpPerCapita, code. Don't forget to convert
            // the values to numbers (using the unary + operator).
            // ADD CODE HERE - replace row with an object with the desired properties
            return row;
        })
    ]);

    // Inspect the loaded data
    console.log(tjdata);   // Shape data in TopoJSON format
    console.log(themes);   // Thematic data

    const data = topojson.feature(tjdata, tjdata.objects[key]);

    // EXERCISE: Add the CSV data to the shapefile data (GeoJSON) in the `properties` array of each feature.
    // Match the data by the country code (compare the themes `code` property with the `feature.id`).
    // Copy the data to the new properties: gdp, pop, gdpPerCapita (e.g. you will access feature.properties.gdp
    // to get the GDP of a country).
    // ADD CODE HERE

    // Set up the view
    const dim = {width: 960, height: 500};
    const svg = d3.select("body").append("svg").attr("width", dim.width).attr("height", dim.height);

    // Use the Equal Earth projection, which is a good general-purpose projection for world maps.
    // It is an equal-area projection, so it preserves the relative size of features,
    // is not conformal, so it distorts angles and shapes.
    const geoPath = d3.geoPath().projection(d3.geoEqualEarth());

    // EXERCISE: Look below for a function called addThemeSelector(). It creates a set of buttons to select the
    // current theme. You must adjust or create your code to use it to change the map's theme.

    // First, populate a list of themes that we support. Each theme is an object with a label and a key.
    // The label is the text that will be displayed on the button, and the key is the property name in the data
    // that will be used to color the map. Use the property names that you added to the feature.properties array.
    // EXERCISE: Add three themes to the list below:
    const themesList = [ /* ADD CODE */ ];

    // EXERCISE: Call the theme selector function (addThemeSelector) passing the list above and the callback function
    // (applyTheme) to be called when a button is clicked. This will render buttons below your map. The callback
    // function will receive the key of the selected theme and update the map.
    // ADD CODE HERE

    // Render the map
    drawMap(svg, data, geoPath); // moved the rendering code to a function

    // EXERCISE: Implement the applyTheme() callback function that will be called when a button is clicked.
    // It should update the map's colors based on the selected theme.
    // The main idea is to create a color scale based on the extent of the selected theme's values and apply it to
    // the map (select all features and change their fill via the color scale and theme property).
    // Use a sequential color scale (e.g. d3.scaleSequentiaSqrt) and a color interpolator (e.g. d3.interpolateRdYlGn).
    // You may wish to apply different color scales for each theme, to highlight the differences in the data.
    // For example, you can use a different exponent for the sequential scale for each theme.
    function applyTheme(t) {
        // IMPLEMENTATION: Create a color scale based on the extent of the selected theme's values and apply
        // it to the map.

        // update the title to show the current theme
        d3.select("h3").text(themesList.filter(d => d.key === t)[0].label);
    }

    // This function renders the map
    function drawMap(view, data, geoPath) {
        // Render the background
        view.append("path")
            .datum({type: "Sphere"})
                .attr("d", geoPath)
                .style("fill", "lightblue")
                .style("stroke", "none");

        // Render the map and apply the color scale to the fill based on population.
        view.selectAll("path.feature")
            .data(data.features)
              .join("path")
                .attr("class", "feature")
                .attr("d", geoPath)
                .style("fill", "lightslategray")
                .style("stroke-width", .5)
                .style("stroke", "blue");
    }

    // This function selects a theme and applies it to the map. It is called when a button is clicked.
    // Adjust your code to use it.
    function addThemeSelector(list, callback) {
        d3.select("body").append("div")
          .selectAll("button")
            .data(list)
              .join("button")
                .text(d => d.label)
                .on("click", (evt, d) => callback(d.key));

        d3.select("body").append("h3").lower().text("No theme");
    }

</script>

</body>
</html>