<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 3: simple bar chart</title>
    <script type="module" src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
<svg id="chart" width="600" height="400"></svg>
<script type="module">
    /* Exercise 3:

    Write the JavaScript code to bind SVG rectangles to the
    elements of the values array and create a bar chart.
    The code should generate SVG <rect> elements, which have
    the following attributes shown below:

        <rect x="" y="" width="" height="" />

    a) The attributes x and height should be fixed for all rectangles:
       x="5" and height="19".
    b) Use the data in the values array for the width of each rectangle.
    c) Use the index of the array to draw a rectangle with y coordinates that are 20 pixels apart.
    */

    // Data: array containing values for the bar chart
    const values = [100, 150, 300, 550, 320, 400, 250];

    // Viewport: the SVG element is already selected for you
    const chart = d3.select("#chart")

    // WRITE YOUR CODE HERE (read HINTS if necessary).

    /* HINTS:
       1) Use the chart object and chain selectAll, data, join and attr
          methods to it. Use a function as the second parameter of the
          attr methods to provide different values for each rectangle.

       Read detailed hints if necessary.
    */

    /* DETAILED HINTS:
       1) Bind a selection of "rect" elements .selectAll("rect") to the
          values array .data("rect") and then call .join("rect") to
          create them.
       2) Call an .attr("name", value or function) method for each
          attribute in <rect>. Remember: everything after the .join()
          is called once for each element, and the function can receive
          one or more parameters. The first is the data element and the
          second is the index of the element in the array. The value
          returned by the function will be the value of the attribute.

       See solution if necessary.
     */

</script>

</body>
</html>