<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3-array examples</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Using free Yanone Kaffeesatz fonts: https://www.yanone.de/fonts/kaffeesatz/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
    <style>
        svg, g { border: solid 1px gray; }
        * {
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        .bar {
            stroke: white;
            stroke-width: .5
        }
    </style>
</head>
<body>
<script>

    // MARGINS
    const svgH = 300, svgW = 400;
    const marginH = 30, marginW = 20;
    const chartH = svgH - marginH*2;
    const chartW = svgW - marginW*2;

    const data = {}; // to store values and bins
    const file = "../data/sol_2019.json";
    const source = "asteroids";
    const property = "diameterKm";

    // SVG
    const svg = d3.select("body")
        .append("svg")
        .attr("width", svgW)
        .attr("height", svgH);

    // See also CSS configuration for the bars

    d3.json(file)
        .then(json => {
            data.values = json[source].map(d => ({
                name: d.name,
                diameter: +d.diameterKm
            }));
            console.log("values", data.values);

            makebins(50);
            plot();
        });

    // Create the bins
    function makebins(numbins) {
        const bingen = d3.bin()
                         .value(d => d.diameter)
                         .thresholds(numbins);

        data.bins = bingen(data.values);
        console.log("bins", data.bins);
    }

    // Plot the histogram
    function plot() {
        // the coordinates now have 0,0 at the lower left
        g = svg.append("g")
               .attr("transform", `scale(1,-1) translate(${[0, -svgH]})`);

        // a reference - remove it later
        g.append("rect")
            .attr("x",marginW).attr("y",marginH)
            .attr("width",chartW).attr("height",chartH)
            .style("fill","none").attr("stroke", "gray");

        const scaleX = d3.scaleLinear()
                         .range([marginW, svgW-marginW])
                         .domain([data.bins[0].x0, data.bins[data.bins.length-1].x1]);
        console.log("X coordinate", scaleX(0), scaleX(data.bins[data.bins.length-1].x1));

        const scaleY = d3.scaleLinear()
                         .range([marginH, svgH-marginH])
                         .domain(d3.extent(data.bins, d => d.length));
        console.log("Y coordinate", scaleY(0), scaleX(d3.max(data.bins, d => d.length)));

        const color  = d3.scaleLinear()
                         .range(["#0088cc", "#cc9900"])
                         .domain(scaleY.domain());

        // total width - margins / total bins
        const barWidth = chartW/data.bins.length;
        console.log("barWidth", barWidth);

    }

</script>

</body>
</html>