<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d3-array examples</title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <!-- Using free Yanone Kaffeesatz fonts: https://www.yanone.de/fonts/kaffeesatz/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
    <style>
        svg, g { border: solid 1px gray; }
        * {
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        .bar {
            stroke: white;
            stroke-width: .5
        }
        .interval {
            font-size: 4pt;
            transform: rotate(90deg);
            alignment-baseline: middle;
        }
    </style>
</head>
<body>
<script>

    // MARGINS
    const svgH = 300, svgW = 400;
    const marginH = 30, marginW = 20;
    const chartH = svgH - marginH*2;
    const chartW = svgW - marginW*2;

    const data = {}; // to store values and bins
    const file = "../data/sol_2019.json";
    const source = "asteroids";
    const property = "diameterKm";

    // SVG
    const svg = d3.select("body")
        .append("svg")
        .attr("width", svgW)
        .attr("height", svgH);

    // See also CSS configuration for the bars

    d3.json(file)
        .then(json => {
            data.values = json[source].map(d => ({
                name: d.name,
                diameter: +d.diameterKm
            }));
            console.log("values", data.values);

            makebins(50);
            plot();
        });

    // Create the bins
    function makebins(numbins) {
        const bingen = d3.bin()
                         .value(d => d.diameter)
                         .thresholds(numbins);

        data.bins = bingen(data.values);
        console.log("bins", data.bins);
    }

    // Plot the histogram
    function plot() {
        g = svg.append("g")
               .attr("transform", `scale(1,-1) translate(${[0, -svgH]})`);

        const scaleX = d3.scaleLinear()
                         .range([marginW, svgW-marginW])
                         .domain([data.bins[0].x0, data.bins[data.bins.length-1].x1]);
        const scaleY = d3.scaleLinear()
                         .range([marginH, svgH-marginH])
                         .domain(d3.extent(data.bins, d => d.length));
        const color  = d3.scaleLinear()
                         .range(["#0088cc", "#cc9900"])
                         .domain(scaleY.domain());
        const barWidth = chartW/data.bins.length;

        g.selectAll(".bar") // static styles with CSS
            .data(data.bins)
            .join("rect").attr("class", "bar")
            .attr("x", d => scaleX(d.x0))
            .attr("width", barWidth)
            .attr("y", scaleY(0))
            .attr("height", d => scaleY(d.length)-marginH)
            .style("fill", d => color(d.length));

        svg.selectAll(".interval") // font sizes, rotation, alignment in CSS
            .data(data.bins)
            .join("text").attr("class", "interval")
            .attr("x", d => scaleX(d.x0)+2)
            .attr("y", svgH-marginH - barWidth/2)
            .attr("transform-origin", d => `${scaleX(d.x0)} ${svgH-marginH}`)
            .text(d => `${d.x0}-${d.x1}`);

    }

</script>

</body>
</html>