<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 2: simple scatter-plot chart</title>
    <script type="module" src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
<svg id="chart" width="400" height="400" style="border: solid"></svg>
<script type="module">

    /* Exercise 2:
    a) Use the provided data array values1, containing five objects, each containing x and y properties, to
       plot points in different parts of the chart. The SVG viewport was resized to 400x400. Once you have
       a single object d, you can access each value using the dot operator using a function (e.g. d => d.x).
    b) When this works, replace the data() in your selection with values2, which contains 1000 points.
    c) [EXTRA] Try changing other attributes, such as radius (.attr("r")) and color (.style("fill")) using
       fixed or random values.
    */

    // Data: array containing objects for the scatter plot
    const values1 = [
        {x: 100, y: 360},
        {x: 150, y: 110},
        {x: 75,  y: 220},
        {x: 220, y: 75},
        {x: 300, y: 100},
    ];

    // Data: array with 1000 points
    const values2 = generatePoints();

    d3.select("#chart")
        .selectAll("circle")
        .data([100])                 // CHANGE THE CODE IN THIS LINE (for (a) and then for (b))
        .join("circle")
            .attr("r", 2)
            .attr("cx", 100)         // CHANGE THE CODE IN THIS LINE
            .attr("cy", 100);        // CHANGE THE CODE IN THIS LINE

    /* HINTS:
       1) Use values1 as the data() in your selection. For (b), use values2.
       2) Replace the values for cx and cy with functions that return the x and y properties of each object.

       Read detailed hints if necessary.
    */

    /* DETAILED HINTS:
       1) Use .data(values1) for (a); then use .data(values2) for (b).
       2) Use function(value) { value.x; } or simply v => v.x as the second parameter of .attr("cx")
       3) Use function(value) { value.y; } or simply v => v.y as the second parameter of .attr("cy")

       See solution if necessary.
     */

    // Function to generate 1000 points in random places
    function generatePoints() {
        const points = [];
        for(let i = 0; i < 1000; i++) {
            points.push({x: Math.floor(Math.random()*400), y: Math.floor(Math.random()*400)});
        }
        return points;
    }

</script>

</body>
</html>