<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 3: simple bar chart</title>
    <script type="module" src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
<svg id="chart" width="600" height="400"></svg>
<script type="module">

    /* Exercise 4:
    Write an update function that updates your selection with new data and changes the color of the bars.
    The new data should change the width of the bars. Other attributes won't change. The new data array
    contains exactly the same amount of data points (you don't need to remove or add space for new bars,
    so you won't need to update the vertical position either).
    */

    const values = [100, 150, 300, 550, 320, 400, 250];
    const chart = d3.select("#chart")

    chart.selectAll("rect")
        .data(values)
        .join("rect")
            .attr("x", 5)
            .attr("height", 19)
            .attr("y", (d,i) => i * 20 + 20)
            .attr("width", d => d);

    function update(dataset) {

        // WRITE YOUR CODE HERE

    }

    /* HINTS:
       1) Use the chart object, select all "rect" elements and use the local dataset variable as the new data().
          You also need to call the .attr() method to update the data for each element, and use a .style()
          method to define a different "fill" for the new bars.

       Read detailed hints if necessary.
    */

    /* DETAILED HINTS:
       1) Use the chart object and call .selectAll("rect") to create a selection of all rectangles. Apply
          the dataset to the selection using .data(dataset), then pass a function that returns the value to
           .attr("width"), for example function(value) { return value; } or simply v => v.
       2) Use .style("fill") and pass any string containing a color name or code as the second parameter.

       See solution if necessary.
     */

    const newValues = [225, 425, 125, 450, 350, 475, 325]; // new values for the data
    setTimeout(update, 2000, newValues);

</script>

</body>
</html>