<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 3: simple bar chart</title>
    <script type="module" src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
<svg id="chart" width="600" height="400"></svg>
<script type="module">

    /* Exercise 5:
    Include transition in your update function so that the width and colors change gradually during one second.
    */

    const values = [100, 150, 300, 550, 320, 400, 250];
    const chart = d3.select("#chart")

    chart.selectAll("rect")
        .data(values)
        .join("rect")
            .attr("x", 5)
            .attr("height", 19)
            .attr("y", (d,i) => i * 20 + 20)
            .attr("width", d => d);

    function update(dataset) {
        chart.selectAll("rect")
            .data(dataset)
            // PLACE YOUR CODE HERE
               .attr("width", d => d)
               .style("fill", "red");
    }

    /* HINTS:
    1) Add a .transition() call before changing the attributes and style.
    2) Add a .duration() to the transition. All this can be written in one line.

    Read detailed hints if necessary.
    */

    /* DETAILED HINTS:
       1) Place .transition() after .data(dataset)
       2) Place .duration(1000) right after transition()

       See solution if necessary.
     */

    const newValues = [225, 425, 125, 450, 350, 475, 325]; // new values for the data
    setTimeout(update, 2000, newValues);

</script>

</body>
</html>