/* EXERCISE: CSS for tooltips - declare 3 rules
   1) Hide the .tooltip class (the container that holds the rectangle and text)
   2) Style the .tooltip rect to fit the text (100 x 30 px) with rounded corners (5px) and pointer-events: none
   3) Style and place the .tooltip text (9px sans-serif, centered, anchored at middle, baseline at middle)
 */

.tooltip {
    opacity: 0;
}
.tooltip rect {
    fill: rgba(255,255,255,.8);
    stroke: darkslategrey;
    stroke-width: 2px;
    height: 30px;
    width: 100px;
    rx: 5px;
    ry: 5px;
    pointer-events: none;
}
.tooltip text {
    transform: translate(50px,15px);
    font-size: 9px;
    text-anchor: middle;
    alignment-baseline: middle;
}