<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 2: simple scatter-plot chart</title>
    <script type="module" src="https://d3js.org/d3.v7.min.js"></script>
</head>

<body>
<svg id="chart" width="500" height="200" style="border: solid"></svg>
<script type="module">

    /* Exercise 1:
    Instead of using the data to determine the horizontal position of the circles, distribute them evenly along
    by making their x position proportional to the index of the array. Now use the data in the array to
    calculate the radius (divide each value by 30, so it will fit).
    */

    // Data: array with circle radii
    const values = [100, 150, 300, 550, 320, 400, 250];

    d3.select("#chart")
        .selectAll("circle")
        .data(values)
        .join("circle")
            .attr("cy", 100)
            .attr("r", 10)         // CHANGE THE CODE IN THIS LINE
            .attr("cx", d => d);   // CHANGE THE CODE IN THIS LINE

    /* HINTS:
       1) Replace the value of the radius ("r" attribute) with a function that returns value/30.
       2) Replace the function of the "cx" attribute with a function that returns 50 + array_index * 100;

       Read detailed hints if necessary.
    */

    /* DETAILED HINTS:
       1) Use function(value) { return value/30; } or simply v => d/30 as the second parameter of .attr("r").
       2) Use function(value, index) { return 50 + index * 100; } or simply (v,i) => 50 + i*100 as the second
          parameter of .attr("cx")

       See solution if necessary.
     */

</script>

</body>
</html>