/* @version 3.0 2024-09-19 */

.tick rect {
    fill: white;
}

.tick text {
    font-size: 10px;
}

.label {
    font-size: 11pt;
    text-anchor: middle;
    fill: black;
}

.tick line {
    stroke: gray;
    stroke-dasharray: 5 5;
}

.grid vertical {}
.grid horizontal {}