/**
 * Use this file with chart-utils.js
 * @version 2.2.2 2024-04-18
 */

.radial .blank text,
.radial .tick:first-of-type {
    display: none
}

.tick rect {
    fill: white;
}

.tick text {
    font-size: 10px;
}

.radial .grid {
    fill: none;
    stroke: gray;
    stroke-dasharray: 5 5;
}

.radial .grid.zero {
    stroke: black;
    stroke-dasharray: 0;
}

.radial .angle.label {
    font-size: 12px;
    text-anchor: middle;
    alignment-baseline: middle;
}

.cartesian .label {
    font-size: 11px;
    text-anchor: middle;
    fill: black;
}

.cartesian .tick line {
    stroke: lightgray;
}

.cartesian .zero-axis line {
    stroke: darkslategray;
}

.legend text.label {
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: start;
}

.cartesian .grid vertical {}
.cartesian .grid horizontal {}